FIRECRAWL_API_KEY=
MODEL_NAME=gpt-4.1-mini
MODEL_PROVIDER=openai
MODEL_TOKEN=16000
MODEL_TEMPERATURE=0.0
API_KEY=
CORAL_AGENT_ID=firecrawl_mcp
CORAL_SSE_URL=http://localhost:5555/devmode/exampleApplication/privkey/session1/sse